In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fname = 'a943287.csv'
df = pd.read_csv(fname)
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,please_select_the_gender_of_the_person_in_the_picture,please_select_the_gender_of_the_person_in_the_picture:confidence,image_url,please_select_the_gender_of_the_person_in_the_picture_gold,user_id
0,1023132475,False,finalized,1,8/19/2016 17:00:25,male,1.0,https://d1qb2nb5cznatu.cloudfront.net/users/40...,NaN,40
1,1023132476,False,finalized,1,8/19/2016 17:00:48,male,1.0,https://d1qb2nb5cznatu.cloudfront.net/users/42...,NaN,42
2,1023132477,False,finalized,1,8/19/2016 17:01:43,male,1.0,https://d1qb2nb5cznatu.cloudfront.net/users/44...,NaN,44
3,1023132478,False,finalized,1,8/19/2016 17:01:04,male,1.0,https://d1qb2nb5cznatu.cloudfront.net/users/47...,NaN,47
4,1023132479,False,finalized,1,8/19/2016 17:00:48,male,1.0,https://d1qb2nb5cznatu.cloudfront.net/users/50...,NaN,50

In [4]:
X = df['image_url'].values
y = np.array([1 if x == 'male' else 0 for x in df['please_select_the_gender_of_the_person_in_the_picture'].values])
X[:5], y[:5]

(array(['https://d1qb2nb5cznatu.cloudfront.net/users/40-large',
        'https://d1qb2nb5cznatu.cloudfront.net/users/42-large',
        'https://d1qb2nb5cznatu.cloudfront.net/users/44-large',
        'https://d1qb2nb5cznatu.cloudfront.net/users/47-large',
        'https://d1qb2nb5cznatu.cloudfront.net/users/50-large'],
       dtype=object), array([1, 1, 1, 1, 1]))